body {
    margin: 0;
    padding: 0;
}
.background{
	background: url(../img/beautifulTW.jpg) no-repeat ;
	background-position:50% 50%;
	height:100%;
	background-size:cover;
	text-align:center;
}
h1{
	font-size: 42px;
	margin-top: 50px;
	color: white;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	width: 600px;
}
.nasa{
	text-align: center;
	background-color:;
}
.nasa a{
	text-decoration:  none;
	font-size:10px;
	color:#4B5256;
}
.nasa a:hover{
	text-decoration: none;
	
}