body {
    margin: 0;
    padding: 0;
	width:100%;
}
.background {
    background-color: #222;
    height: 150px;
    margin: 0;
    padding: 0;
}
.slogan {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}
.title {
    position: relative;
    text-align: center;
}
.content{
  margin-top:50px;
  text-align:center;
  font-size:20px; 
}
.saying li {
  line-height:40px;
  text-decoration:none;
  color:#4B5256; 
  list-style-type:none;
  font-size:30px; 
}
.info li{
  line-height:38px;
  text-decoration:none;  
  list-style-type:none;
  font-size:18px;
}
.info{
  margin-top:60px;
  background-color:#052A42;
  height:500px;
  position:relative;
  padding-top:60px;
    color:white;
}
.info h2{
   color:green; 
  font-size:32px;
}
.professor{
  margin-top:3em;
   
}

