body {
    margin: 0;
    padding: 0;
	width:100%;
}

.background{
	background-color:#222;
	background-position:50% 50%;
	
	background-size:cover;
    position:relative;
  	margin-top:350px;
	
}
.vedio{
	padding-top:150px;
	text-align:center;
}
.nasa{
	text-align: center;
	
}
.nasa a{
	text-decoration:  none;
	font-size:10px;
	color:#4B5256;
}
.nasa a:hover{
	text-decoration: none;
	
}
#slider {
	width:100%;
	height:600px;
				
	/*IE bugfix*/
	padding:0;
	margin:0;
}

#slider li { list-style:none; }
			
#page {
  	width:100%;
  	margin: 10px auto 50px;
  	padding-top:90px;
  	margin-top:20px;
}
#sm{
  	font-size:40px;
  	white-space:2em;
}
.me{
  	background: url(../img/beautifulTW.jpg) no-repeat ;
	background-position:50% 50%;
	height:600px;
	background-size:cover;
	text-align:center;
  	color:white;
  	padding-top:20px;
  	font-size:30px;
}
.me h1{
  	line-height:30px;
}
.me-con{
  	position:relative;
  	left:50%;
  	margin-left:-360px;
 	text-align:center;
  	line-height:5px;
	margin-top:10px;
}
.me-l1,.me-l2,.me-l3{
  	margin-left:40px;
 	padding-top:10px;
  	font-size:18px;
  	float:left;
  	width:300px;
  	height:300px;
  	box-shadow:2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  	box-sizing:border-box;
	margin-bottom:10px;
}
.ref{  
  margin-top:-20px;
  margin-bottom:20px;
}
.ref a:link{  
  margin-top:-20px;
  margin-bottom:20px;
  
  color:#4B5256;
}
.ref a:hover{  
  margin-top:-20px;
  margin-bottom:20px;
  text-decoration: none;
}

.ref a:visited{
  color:#4B5256;
}
